<!DOCTYPE html>
<html lang="en">
	<head>
        <title> LOGIN </title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/login.css') }}">
	</head>
	<body>
        <div class='container'>
            <div>
                <h1><b></b>LOGIN</b></h1>
            </div>
            <form action="http://127.0.0.1:5000/signin" method='POST'>
                <div class="u_name">
                    <h2>Username: <input type="text" id="u_name1" name="username" required></h2>
                </div>
                <div class="pass_word">
                    <h2>Password: <input type="password" id="p_word1" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contain Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></h2>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p><b>{{msg}}</b></p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="submit_class">
                    <input value="Submit" type="submit" class="submit_button">
                </div>
            </form>
        </div>
	</body>